.drink-contect {
    display: flex;

    height: 400px;

    margin: 0 34px;

    border: 1px solid #2125294a;

    drinks-results {
        width: 30%;
    }

    drink-full-details { 
        width: 70%;
    }

}