.drinks-results {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    border-right: 1px solid #2125294a;

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 55px;
        width: 100%;

        font-size: 30px;
        background: #7fad39;
    }

    &__list {
        overflow: scroll;

        cursor: pointer;

        display: flex;
        width: 100%;
        padding: 5px 10px;
        height: calc(100% - 55px);

        &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            min-height: 40px;

            padding: 0;
            padding-inline-start: 5px;
            margin-block-end: 0;

            text-align: center;

            font-size: 14px;
            color: #1c1c1c;
            line-height: 19px;

            &--selected {
                background: #0089ff59;
            }

            img{
                margin-inline-end: 5px;
            }
           
        }
    }
}
